@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
input {
  border: 1px solid #d8d8d8;
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ol, ul, li, fieldset, figure, figcaption {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  overflow-x: hidden;
}

em, i, address {
  font-style: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

textarea {
  border: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
}

fieldset {
  border: none;
}

select {
  font-family: inherit;
}

.blind, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.box1 {
  width: 10px;
}

.wrap {
  color: "#000";
}

.testBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.testBox2 {
  width: 300px;
  height: auto;
  display: flex;
  border: 1px solid red;
}

.ico_facebook {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_facebook:before {
  content: "\f082";
  font-family: "Font Awesome 6 Brands";
  font-size: 16px;
  color: inherit !important;
}

.ico_chat {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/chat.svg");
}
.ico_chat.active {
  color: red;
}

.ico_heart {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/empty_heart.svg");
}
.ico_heart.active {
  background-image: url("../images/icon/heart.svg");
}

.ico_kebab {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/kebab.svg");
}

.ico_msg {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/message.svg");
}

.ico_home {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_home.svg");
}
.ico_home:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_home_red.svg");
}

.ico_search {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_search.svg");
}
.ico_search:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_search_red.svg");
}

.ico_create {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_create.svg");
}
.ico_create:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_create_red.svg");
}

.ico_video {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_video.svg");
}
.ico_video:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_video_red.svg");
}

.ico_arrowdown {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/arrow_down.svg");
}

.ico_feed {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/feed.svg");
}
.ico_feed:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/feed_red.svg");
}

.ico_hamburger {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/ham.svg");
}

.ico_show_user {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/show_user.svg");
}
.ico_show_user:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/show_user_red.svg");
}

.ico_tablecells {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_tablecells:before {
  font-weight: 900;
}
.ico_tablecells:before {
  content: "\f00a";
  font-family: "Font Awesome 6 Pro";
  font-size: 24px;
  color: inherit !important;
}

.ico_user {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tagme.svg");
}

.ico_book_mark {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/book_mark.svg");
}
.ico_book_mark.active {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/book_mark_black.svg");
}

.ico_upload {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/upload.svg");
  width: 93px;
  height: 40px;
}

.ico_close {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/close.svg");
  width: 16px;
  height: 16px;
}

.ico_camera {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/camera.svg");
}

.ico_multi {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/multi.svg");
}

.ico_camera_white {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/white_camera.svg");
  width: 30px;
  height: 30px;
}

.ico_arrowdown_white {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/arrow_down_white.svg");
}

.btn:before {
  color: inherit;
}

.cmt_heart {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/empty_heart.svg");
  width: 24px;
}
.cmt_heart.active {
  background-image: url("../images/icon/heart.svg");
}

.ico_follow {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/follow.svg");
}

.ico_favo {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/favorites.svg");
}

.ico_white_heart {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/white_heart.svg");
}

.ico_white_chat {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/white_chat.svg");
}

.ico_white_message {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/white_message.svg");
}

.ico_white_meatball {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/white_meatball.svg");
}

body {
  font-family: "Instagram sans", sans-serif;
  font-size: 14px;
}

.tabbar_menu {
  position: relative;
}
.tabbar_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 74px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 26px 0 0;
}
.tabbar_menu ul li {
  flex-basis: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.tabbar_menu ul li a:hover {
  color: red;
}

.login_wrap {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 34px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  row-gap: 50px;
  text-align: center;
}
.login_wrap h1 {
  font-family: "Lobster", sans-serif;
  font-size: 45px;
  margin: 42px 0;
}
.login_wrap .login_form input {
  width: 100%;
  padding: 9px 8px;
  background-color: rgb(250, 250, 250);
  font-size: 12px;
  border-radius: 5px;
}
.login_wrap .login_form input:nth-child(1) {
  margin-bottom: 12px;
}
.login_wrap .login_form input:nth-child(2) {
  margin-bottom: 22px;
}
.login_wrap .login_form .password {
  margin-top: 10px;
}
.login_wrap .login_form .blue {
  width: 100%;
  background-color: #3797EF;
  padding: 10px 0;
  border-radius: 8px;
  margin: 30px 0 20px;
  color: #fff;
  font-weight: 600;
}
.login_wrap .login_or {
  color: #737373;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.login_wrap .login_or::before {
  content: "";
  height: 1px;
  background-color: rgb(219, 219, 219);
  width: 100%;
}
.login_wrap .login_or::after {
  content: "";
  height: 1px;
  background-color: rgb(219, 219, 219);
  width: 100%;
}
.login_wrap .face_book {
  color: #3797EF;
  margin: 18px 0;
}
.login_wrap .reset_pw {
  color: #00376B;
  display: flex;
  justify-content: flex-end;
}
.login_wrap .sign a {
  color: #3797EF;
  font-weight: 600;
}

.top_header, .all_wrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.all_wrap {
  position: relative;
}

.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  padding: 0 22px 0 17px;
}
.top_header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_header h2 {
  font-family: "Lobster", sans-serif;
  font-size: 24px;
}
.top_header .header_btns {
  display: flex;
  column-gap: 26px;
}

.story {
  padding: 12px 0;
  margin-left: 18px;
}
.story .story_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  column-gap: 12px;
}
.story .story_list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.story .story_list li {
  flex-basis: 66px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
}
.story .story_list li .photo_ring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 66px;
  background: url("../images/profile_ring.svg") no-repeat center center/contain;
}
.story .story_list li .photo_ring .photo_box {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  overflow: hidden;
}
.story .story_list li .photo_ring .photo_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story .story_list li a {
  display: block;
  width: 100%;
  text-align: center;
}

.both img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 8px;
}

.feed_container li .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-right: 20px;
  margin-left: 16px;
}
.feed_container li .header .header_inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed_container li .header .header_inside p {
  font-weight: 500;
}
.feed_container li .body .tool_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 4px 20px 4px 16px;
}
.feed_container li .body .tool_bar div {
  display: flex;
  column-gap: 22px;
}
.feed_container li .body p {
  margin-left: 6px;
}

.feed_footer {
  margin-left: 16px;
}
.feed_footer .liked_info {
  display: flex;
}
.feed_footer .liked_info .wholikes {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}
.feed_footer .liked_info .wholikes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feed_contents {
  display: flex;
}

.account_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  margin: 0 22px 0 16px;
}
.account_header .account_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account_header .account_header_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}

.account_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 30px 0 22px;
}
.account_info .img {
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.account_info img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.account_info div {
  text-align: center;
}

.content {
  margin-left: 16px;
}

.account_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 12px 0;
  white-space: nowrap;
  column-gap: 6px;
}
.account_btns .btn_color {
  background-color: #d9d9d9;
  font-weight: 500;
  border-radius: 10px;
}
.account_btns a {
  width: 142px;
  padding: 6px 0;
  text-align: center;
}
.account_btns button {
  width: 30px;
  height: 30px;
}

.story_diy {
  margin: 14px 0 0 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 22px;
  height: 100px;
}
.story_diy .story_item {
  text-align: center;
}
.story_diy .story_item img {
  width: 65px;
  height: 65px;
  border-radius: 100%;
}
.story_diy .story_item span {
  display: block;
}

.account_feed_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0 12px 0;
}

.feed_scroll {
  overflow-y: auto;
  height: calc(124vh - 182px);
}

.feed_photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2px;
  margin-top: 12px;
  grid-row-gap: 2px;
  grid-auto-rows: 35vw;
}
.feed_photo li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search_contain {
  margin-top: 40px;
}
.search_contain .search_area {
  margin: 0 12px;
}
.search_contain .search_area input {
  width: 100%;
  background-color: #d9d9d9;
  height: 28px;
  width: 100%;
  height: 28px;
  border-radius: 10px;
}

.search_photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.dim {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none;
}
.dim.open {
  display: block;
}

.modal {
  z-index: 100;
  padding-top: 8px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  display: none;
}
.modal.open {
  display: block;
}
.modal::before {
  content: "";
  width: 33px;
  background-color: #737171;
  height: 4px;
  display: block;
  margin: 0 auto;
}
.modal .title {
  text-align: center;
  font-weight: 600;
  padding: 12px 0;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 10px;
}

.modal_cmt_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
}
.modal_cmt_container .cmt_scroll_area {
  padding: 0 10px;
  height: 40vh;
  overflow-y: auto;
}
.modal_cmt_container .cmt_list .cmt_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
  column-gap: 16px;
}
.modal_cmt_container .cmt_list .cmt_item .cmt_profile {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  flex-shrink: 0;
}
.modal_cmt_container .cmt_list .cmt_item .cmt_profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal_cmt_container .cmt_list .cmt_item .cmt_body {
  flex-grow: 1;
}
.modal_cmt_container .cmt_list .cmt_item .cmt_body a {
  margin-right: 11px;
  font-weight: 600;
}
.modal_cmt_container .cmt_list .cmt_item .cmt_body span {
  font-weight: 600;
  color: #A0A0A0;
}
.modal_cmt_container .cmt_list .cmt_item .cmt_body button {
  color: #A0A0A0;
  font-weight: 600;
}
.modal_cmt_container .cmt_list .cmt_item .cmt_heart {
  flex-basis: 46px;
  flex-shrink: 0;
}
.modal_cmt_container .cmt_list .cmt_item .cmt_heart img {
  width: 24px;
}
.modal_cmt_container .cmt_list .cmt_item .cmt_heart span {
  display: block;
  margin-top: 32px;
}

.cmt_write .pop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px 14px;
  column-gap: 200px;
  display: none;
}
.cmt_write .pop.open {
  display: flex;
}
.cmt_write .emojis {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 12px;
}
.cmt_write .emojis button {
  width: 42px;
  height: 42px;
}
.cmt_write .emojis i {
  font-size: 20px;
}
.cmt_write .cmt_chat {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 8px 12px;
}
.cmt_write .cmt_chat div {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.cmt_write .cmt_chat .text_area {
  margin-left: 18px;
  border: none;
  column-gap: 12px;
}
.cmt_write .profile {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.cmt_write .profile > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post {
  transform: translateX(-100vw);
  transition: 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.post.open {
  transform: translateX(0);
}

.new_post {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 0 12px 0 16px;
  font-weight: 600;
}
.new_post div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 28px;
}
.new_post .next_btn {
  color: #418DCB;
  font-weight: 600;
}

.post_choose {
  height: 16vh;
}
.post_choose img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 0 4px 0 8px;
  height: 54px;
  background-color: #fff;
}
.recent_bar div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 6px;
}

.post_pics_scroll {
  overflow-y: auto;
  height: calc(84vh - 182px);
  background-color: #fff;
}
.post_pics_scroll .pics_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 33vw;
}
.post_pics_scroll .pics_list img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.top_modal {
  background-color: #fff;
  width: 166px;
  height: 130px;
  position: absolute;
  top: 10vh;
  left: 6vw;
  border-radius: 5%;
  display: none;
}
.top_modal.open {
  display: block;
}

.reels {
  position: relative;
}
.reels .reels_header {
  margin: 10px 16px 0;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 230px;
}
.reels .reels_header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  color: #fff;
}
.reels .reels_content li {
  position: relative;
  height: 100vh;
}
.reels .reels_content li .contents {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.reels .reels_content li .contents img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reels .reels_content li .bottom_icons {
  color: #fff;
  position: absolute;
  bottom: 15vh;
  right: 0;
  text-align: center;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./fonts/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.slide_container .slick-dots {
  bottom: 25px;
}
.slide_container .slick-dots li {
  margin: 0;
}
.slide_container .slick-dots li button {
  background-color: #fff;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  opacity: 0.5;
}
.slide_container .slick-dots li button:before {
  content: "";
  display: none;
}
.slide_container .slick-dots li.slick-active button {
  opacity: 1;
}
.slide_container .slick-dotted.slick-slider {
  margin-bottom: 0;
}

/*# sourceMappingURL=common.css.map */
