@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
input {
  border: 1px solid #d8d8d8;
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ol, ul, li, fieldset, figure, figcaption {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  overflow-x: hidden;
}

em, i, address {
  font-style: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

fieldset {
  border: none;
}

select {
  font-family: inherit;
}

.blind, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.box1 {
  width: 10px;
}

.wrap {
  color: "#000";
}

.testBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.testBox2 {
  width: 300px;
  height: auto;
  display: flex;
  border: 1px solid red;
}

.ico_facebook {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_facebook:before {
  content: "\f082";
  font-family: "Font Awesome 6 Brands";
  font-size: 16px;
}

.ico_msg {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_msg:before {
  content: "\f075";
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
}

.ico_heart {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_heart:before {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
}

.ico_kebab {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_kebab:before {
  font-weight: 900;
}
.ico_kebab:before {
  content: "\f142";
  font-family: "Font Awesome 6 Pro";
  font-size: 24px;
}

.ico_msg_f {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_msg_f:before {
  content: "\f1d8";
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
}

.ico_home {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_home.svg");
}
.ico_home:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_home_red.svg");
}

.ico_search {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_search.svg");
}
.ico_search:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_search_red.svg");
}

.ico_create {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_create.svg");
}
.ico_create:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_create_red.svg");
}

.ico_video {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_video.svg");
}
.ico_video:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/tab_video_red.svg");
}

.ico_arrowdown {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_arrowdown:before {
  font-weight: 900;
}
.ico_arrowdown:before {
  content: "\f107";
  font-family: "Font Awesome 6 Pro";
  font-size: 24px;
}

.ico_feed {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/feed.svg");
}
.ico_feed:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/feed_red.svg");
}

.ico_hamburger {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_hamburger:before {
  font-weight: 900;
}
.ico_hamburger:before {
  content: "\f0c9";
  font-family: "Font Awesome 6 Pro";
  font-size: 24px;
}

.ico_show_user {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/show_user.svg");
}
.ico_show_user:hover {
  display: block;
  background: no-repeat center center/contain;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon/show_user_red.svg");
}

.ico_tablecells {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_tablecells:before {
  font-weight: 900;
}
.ico_tablecells:before {
  content: "\f00a";
  font-family: "Font Awesome 6 Pro";
  font-size: 24px;
}

.ico_user {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.ico_user:before {
  content: "\f2bd";
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
}

body {
  font-family: "Instagram sans", sans-serif;
  font-size: 14px;
}

.tabbar_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}
.tabbar_menu ul li {
  flex-basis: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.tabbar_menu ul li a:hover {
  color: red;
}

.login_wrap {
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 34px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  row-gap: 50px;
  text-align: center;
}
.login_wrap h1 {
  font-family: "Lobster", sans-serif;
  font-size: 45px;
  margin: 42px 0;
}
.login_wrap .login_form input {
  width: 100%;
  padding: 9px 8px;
  background-color: rgb(250, 250, 250);
  font-size: 12px;
  border-radius: 5px;
}
.login_wrap .login_form input:nth-child(1) {
  margin-bottom: 12px;
}
.login_wrap .login_form input:nth-child(2) {
  margin-bottom: 22px;
}
.login_wrap .login_form .password {
  margin-top: 10px;
}
.login_wrap .login_form .blue {
  width: 100%;
  background-color: #3797EF;
  padding: 10px 0;
  border-radius: 8px;
  margin: 30px 0 20px;
  color: #fff;
  font-weight: 600;
}
.login_wrap .login_or {
  color: #737373;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.login_wrap .login_or::before {
  content: "";
  height: 1px;
  background-color: rgb(219, 219, 219);
  width: 100%;
}
.login_wrap .login_or::after {
  content: "";
  height: 1px;
  background-color: rgb(219, 219, 219);
  width: 100%;
}
.login_wrap .face_book {
  color: #3797EF;
  margin: 18px 0;
}
.login_wrap .reset_pw {
  color: #00376B;
  display: flex;
  justify-content: flex-end;
}
.login_wrap .sign a {
  color: #3797EF;
  font-weight: 600;
}

.top_header, .all_wrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.all_wrap {
  padding: 0 16px;
}

.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 0 22px 0 17px;
}
.top_header h2 {
  font-family: "Lobster", sans-serif;
  font-size: 24px;
}
.top_header .header_btns {
  display: flex;
}

.story {
  padding: 24px 0;
}
.story .story_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  column-gap: 12px;
}
.story .story_list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.story .story_list li {
  flex-basis: 66px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
}
.story .story_list li .photo_ring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 66px;
  background: url("../images/profile_ring.svg") no-repeat center center/contain;
}
.story .story_list li .photo_ring .photo_box {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  overflow: hidden;
}
.story .story_list li .photo_ring .photo_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story .story_list li a {
  display: block;
  width: 100%;
  text-align: center;
}

.both img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 8px;
}

.feed_container li .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-right: 20px;
}
.feed_container li .header .header_inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed_container li .header .header_inside p {
  font-weight: 500;
}
.feed_container li .body .tool_bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  margin: 4px 0;
}
.feed_container li .body p {
  margin-left: 6px;
}
.feed_container li .body .contents {
  margin-left: 6px;
}

.comment_popup {
  margin-left: 6px;
}

.account_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
.account_header .account_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account_header .account_header_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}

.account_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account_info img {
  width: 82px;
  height: 82px;
  border-radius: 100%;
}
.account_info div {
  text-align: center;
}

.account_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.account_btns .btn_color {
  background-color: #d9d9d9;
  padding: 8px 40px;
  font-weight: 500;
  border-radius: 10px;
}

.story_diy {
  margin-top: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 22px;
  height: 100px;
}
.story_diy .story_item {
  text-align: center;
}
.story_diy .story_item img {
  width: 65px;
  height: 65px;
  border-radius: 100%;
}
.story_diy .story_item span {
  display: block;
}

.account_feed_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0 12px 0;
}

.feed_photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2px;
  margin-top: 12px;
}

.search_contain {
  margin-top: 40px;
}
.search_contain input {
  width: 100%;
  background-color: #d9d9d9;
  height: 28px;
  width: 100%;
  height: 28px;
  border-radius: 10px;
}

.search_photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./fonts/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.slide_container .slick-dots {
  bottom: 25px;
}
.slide_container .slick-dotted.slick-slider {
  margin-bottom: 0;
}

/*# sourceMappingURL=common.css.map */
