.account_header{
    @include flex;
    height: 56px;
    margin: 0 22px 0 16px;
    .account_name{
        @include flex;
    }
    .account_header_btns{
        @include flex($c:12px);
    }
}


.account_info{
    @include flex;
    margin: 15px 30px 0 22px;
    .img{
        width: 80px;
        height: 80px;
        overflow: hidden;
    }
    img{
        @include borderRadius(100%, 100%);
        object-fit: cover;
    }
    div{
        text-align: center;
    }
}

.content{
    margin-left:16px;
}

.account_btns{
    @include flex;
    margin: 15px 12px 0;
    white-space: nowrap;
    column-gap: 6px;
    
    .btn_color{
        background-color: #d9d9d9;
        font-weight: 500;
        border-radius: 10px;
    }
    a{
        width: 142px;
        padding: 6px 0;
        text-align: center;
    }
    button{
        width: 30px;
        height:30px;
    }
    
}

.story_diy{
    margin: 14px 0 0 16px;
    @include flex($j:flex-start);
    column-gap: 22px;
    height: 100px;
    .story_item{
        text-align: center;
        img{
            @include borderRadius(65px, 65px);
        }
        span{
            display: block;
        }

    }
}

.account_feed_icons{
    @include flex($j:space-around);
    margin: 20px 0 12px 0;
}

.feed_scroll{
    overflow-y:auto;
    height: calc(124vh - 182px);
}
.feed_photo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2px; 
    margin-top: 12px;
    grid-row-gap: 2px;
    grid-auto-rows: 35vw;

    li{
        img{
            width: 100%;
            height:100%;
            object-fit: cover;
        }
    }
    // a{
    //     width: 61px;
    //     height: 61px;
    //     border-radius: 50%;
    //     overflow: hidden;
    //     display: block;
    //     img{
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //     }
    // }
}
