
@function check($size){
    $type : type-of($value: $size);
    @if $type == number and $size != 0 and unitless($size){
        @return #{$size}px;
    } @else{
        @return $size;
    }
};

@function check2($size){
    
    $type : type-of($value: $size);
    @debug $type; 
    @if $type != number or $size == 0 {
        @return $size;
    } @else{
        @if unitless($size) {
            @return #{$size}px
        }

        @return $size
        
    }

  
};

 

@mixin pCenter($w, $h, $p: absolute) {
    @if true
    {
      width: if(unitless($w), #{$w}px, $w); 
    }
}
  
.box1 {
    @include pCenter(10px, 20px);
}

@function test($a) {
    $color : '#' + $a;
    @return  $color;
}

  .wrap { 
    color : test('000') 
}


