%base_wrap{ 
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
 
.all_wrap {
    @extend %base_wrap;
    padding:0 $gap; 
}
.top_header{
    @extend %base_wrap;
    @include flex;
    // background-color: red;
    height: 88px;
    padding: 0 22px 0 17px;
    h2{
        font-family: 'Lobster', sans-serif;
        font-size: 24px;
    }
    .header_btns{
        display: flex;
    }
}
 

.story{
    
    // background-color: rgb(221, 221, 230);
    // height: 125px;
    padding: 24px 0 ;
    .story_list{
        &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
        @include flex;
        overflow: auto;
        column-gap: 12px;
       
        li{
            width: 77px;
            height: 77px;
            position: relative;
            @include flex($j:center, $a: flex-end);
            flex-shrink: 0;
            border-radius: 100%;
            // background-image: linear-gradient(white, white), linear-gradient(45deg, #F99848, #CC3C95);
            @for $i from 1 through 8{
                $file :  'profile_#{$i}';
                &.#{$file}{
                    @include bgCover('photo/' + $file + '.jpg');
                }
            }
            
            
            // background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
            // box-sizing: content-box;
        }
    }
}
.both{
    img{
        width: 32px;
        height: 32px;
        border-radius: 100%;
        margin-right:8px;
    }
}
.feed_container{
    li{
        .header{
            @include flex;
            padding: 10px 0;
            margin-right: 20px;
            .header_inside{
                @include flex;
                
                p{
                    font-weight: 500;
                }
            }
            
        }
        .body{
            .tool_bar{
                @include flex($j: flex-start);
                margin-bottom:16px;
            }
            p{
                margin-left:6px;
            }

            .contents{
                margin-left:6px;
            }
        }
    }
}



 