%base_wrap{ 
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
 
.all_wrap {
    @extend %base_wrap;
    padding:0 $gap; 
}
.top_header{
    @extend %base_wrap;
    @include flex;
    // background-color: red;
    height: 88px;
    padding: 0 22px 0 17px;
    h2{
        font-family: 'Lobster', sans-serif;
        font-size: 24px;
    }
    .header_btns{
        display: flex;
    }
}
 

.story{
    // background-color: rgb(221, 221, 230);
    // height: 125px;
    padding: 24px 0 ;
    .story_list{
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
        // transform: translateY(-50%);
       
        li{
            width: 77px;
            height: 77px;
            position: relative;
            @for $i from 1 through 8{
                $file :  'profile_#{$i}';
                &.#{$file}{
                    @include bgCover('photo/' + $file + '.jpg');
                }
            }
            border-radius: 100%;
            border: 1px solid #D9D9D9;
            // background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
            // box-sizing: content-box;
            background-color: red;
        }
    }
}

.feed{

    .feed_content{
        // li{
            
        // }
        .feed_header{
            @include flex;
            height: 54px;
            img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
            // @include fontIcon(map-get($menu, heart));
        }
    }
}

 