@use 'sass:math';

//경로변수 
$url:'../images/';
$icon: $url + 'icon/';
$photo: $url + 'photo/';

//color 변수
// font
//

$gap : 16px;


@debug 4px * 6px; // 24px*px (read "square pixels")
@debug math.div(5px, 2s); // 2.5px/s (read "pixels per second")


$text : #222, #666, #999; // list
$line : #e8e8e8, #fff;

// object - map
$form : (
    focus : red,
    focusBg : gray,
    placeholder : nth($text, 3),
    line : #d8d8d8
);

// @debug nth($text, 3);

input {
    border:1px solid map-get($form, line);
}

// flex 변
 