@import './lib/slick';
@import './lib/slick-theme';

.slide_container{
    .slick-dots{
        bottom:25px;
        li{
            margin:0;

            button{
                background-color: #fff;
                border-radius: 50%;;
                width:2px;
                height:2px;
                opacity: 0.5;
                
                &:before{
                    content:'';
                    display: none;
                }
                
            }

            &.slick-active button {
                opacity:1;
            }
        }
    }
    
    .slick-dotted.slick-slider{
        margin-bottom: 0;
    }


}