.dim {
    @include dim;
    z-index:99;
    display: none;

    &.open{
        display: block;
    }
}

.modal {
    z-index:100; 
    padding-top:8px;
    background-color:#fff;
    border-radius: 20px 20px 0 0;
    display: none;

    &.open{
        display: block;
    }

    // bar
    &::before{
        content:'';
        width: 33px;
        background-color: #737171;
        height: 4px;
        display:block;
        margin:0 auto;
    }

    .title {
        text-align: center;
        font-weight: 600; 
        padding:12px 0;
        border-bottom:1px solid #f3f3f3;
        margin-bottom:10px;
    } 
}

.modal_cmt_container{ 
    position: fixed; 
    bottom:0;
    width: 100%;
    max-width: 600px;
    left:50%;
    transform: translateX(-50%);
    
 

    .cmt_scroll_area{ 
        padding: 0 10px;
        height: 40vh;
        overflow-y:auto;
    }

       
    .cmt_list{
         
        .cmt_item{
            @include flex;
            padding-bottom: 22px;
            column-gap: 16px;
            .cmt_profile{
                width: 33px;
                height: 33px;
                border-radius: 50%;
                overflow: hidden;
                display: block;
                flex-shrink: 0;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                
            }
            .cmt_body{
                flex-grow:1;
                a{
                    margin-right:11px;
                    font-weight: 600;
                }
                span{
                    font-weight: 600;
                    color:#A0A0A0;
                }
                button{
                    color:#A0A0A0;
                    font-weight: 600;
                }
            }

            .cmt_heart{
                flex-basis:46px;
                flex-shrink: 0;

                img {
                    width:24px;


                }

                span {
                    display:block;
                    margin-top:32px;
                }
            }
        }
    }
    
    
}


    

.cmt_write{
    .pop{
        @include flex($j:flex-start);
        background-color:#f3f3f3;
        padding: 10px 14px;
        column-gap: 200px;
        display: none;

        &.open{
            display: flex;
        }

    }
    .emojis{
        @include flex($a:stretch);
        padding: 10px 12px;
        button{
            width: 42px;
            height: 42px;
        }

        i {
            font-size:20px;
        }
    }

    .cmt_chat{
        @include flex($a:stretch);
        padding:8px 12px;
        div{
            @include flex($a:stretch);
        }
        .text_area{
            margin-left:18px;
            border: none;
            column-gap: 12px;
        }
    }

    .profile {
        @include profile(50);
    }
    
}



.post{
    transform: translateX(-100vw);
    transition: 0.4s;
    position:fixed;
    top:0;
    left:0;
    width: 100vw;

    &.open{
        transform: translateX(0);
    }
}
.new_post{
    background-color: #fff;
    @include flex;
    height: 54px;
    padding: 0 12px 0 16px;
    font-weight: 600;
    div{
        @include flex($j:flex-start);
        column-gap: 28px;
    }

    .next_btn{
        color: #418DCB;
        font-weight: 600;
    }
}

.post_choose{
    height: 16vh;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.recent_bar{
    @include flex;
    font-weight: 500;
    padding: 0 4px 0 8px;
    height: 54px;
    background-color: #fff;
    div{
        @include flex($j: flex-end, $c:6px);
        
    }
}

.post_pics_scroll{
    overflow-y:auto;
    height: calc(84vh - 182px);
    background-color: #fff;
    
    .pics_list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 33vw;

        img{
            object-fit: cover;
            width:100%;
            height: 100%;
        }
    }


}

.top_modal{
    background-color:#fff;
    width: 166px;
    height: 130px;
    position: absolute;
    top:10vh;
    left:6vw;
    @include borderRadius($b:5%);
    display: none;

    &.open{
        display: block;
    }
}