.dim {
    @include dim;
    z-index:99;
    display: none;

    &.open{
        display: block;
    }
}

.modal {
    z-index:100; 
    padding-top:8px;
    background-color:#fff;
    border-radius: 20px 20px 0 0;
    display: none;

    &.open{
        display: block;
    }

    // bar
    &::before{
        content:'';
        width: 33px;
        background-color: #737171;
        height: 4px;
        display:block;
        margin:0 auto;
    }

    .title {
        text-align: center;
        font-weight: 600; 
        padding:12px 0;
        border-bottom:1px solid #f3f3f3;
        margin-bottom:10px;
    } 
}

.modal_cmt_container{ 
    position: fixed; 
    bottom:0;
    width: 100%;
    max-width: 600px;
    left:50%;
    transform: translateX(-50%);
    
 

    .cmt_scroll_area{ 
        padding: 0 10px;
        height: 20vh;
        overflow-y:auto;
    }

       
    .cmt_list{
         
        .cmt{
            display: flex;
            padding-bottom: 22px;

            .cmt_profile{
                margin-right: 20px;
                // @include flex($j: flex-start);
                width: 33px;
                height: 33px;
                border-radius: 50%;
                overflow: hidden;
                display: block;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                
            }
            .cmt_body{
                a{
                    margin-right:11px;
                    font-weight: 600;
                }
                span{
                    font-weight: 600;
                    color:#A0A0A0;
                }
                button{
                    color:#A0A0A0;
                    font-weight: 600;
                }
            }
        }
    }
    
    
}


    

.cmt_write{
    .pop{
        @include flex($j:flex-start);
        background-color:#f3f3f3;
        padding: 10px 14px;
        column-gap: 200px;
        display: none;

        &.open{
            display: block;
        }

    }
    .emojis{
        button{
            width: 42px;
            height: 42px;
        }

        i {
            font-size:20px;
        }
    }

    .cmt_chat{
        @include flex;
        margin: 0 16px;
        div{
            @include flex;
        }
        .text_area{
            margin-left:18px;
            border: none;
            column-gap: 12px;
        }
    }

    .profile {
        @include profile(33);
    }
    
}



.post{
    transform: translateX(-380px);
    translate: 0.4s;
    position:absolute;
    top:0;

    &.open{
        transform: translateX(0);
        display: block;
    }
}
.new_post{
    background-color: #fff;
    @include flex;
    height: 54px;
    padding: 0 12px 0 16px;
    font-weight: 600;
    div{
        @include flex($j:flex-start);
        column-gap: 28px;
    }

    .next_btn{
        color: #418DCB;
        font-weight: 600;
    }
}

.post_choose{
    width: 360px;
    height: 380px;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.recent_bar{
    @include flex;
    font-weight: 500;
    padding: 0 4px 0 8px;
    height: 54px;
    background-color: #fff;
    div{
        @include flex($j: flex-end, $c:6px);
        
    }
}

.post_pics_scroll{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow-y:auto;
    height: 30vh;
    background-color: #fff;
    
    .pics_list{
        width: 94px;
        height: 94px;
    }

}