@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'init','reset','icon','function','mixin'; 

body{
    font-family: 'Instagram sans', sans-serif;
    font-size: 14px;
}
.tabbar_menu{
    @include flex;
    padding: 0 26px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

@import 'index','home','account','search'; 